[Unit]
Description=dnsmasq instance for the guest VLAN
JoinsNamespaceOf=lan_guest_ns.service
BindsTo=lan_guest_ns.service
Requires=lan_guest_ns.service
After=lan_guest_ns.service

[Service]
Type=forking
PrivateNetwork=Yes
PrivateMounts=No

PIDFile=/var/run/dnsmasq_guest.pid

ExecStartPre=dnsmasq --test -C /mss/etc/dnsmasq_guest.conf
ExecStart=dnsmasq -k -C /mss/etc/dnsmasq_guest.conf
ExecReload=kill -HUP $MAINPID
ExecStop=kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
