[Unit]
After=sys-subsystem-net-devices-guest.device

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes
PrivateMounts=no

# create a named netns and swap the systemd one to it
ExecStart=/usr/bin/flock --no-fork -- /var/run/netns.lock /usr/bin/env ip netns add lan_guest
ExecStart=/usr/bin/env umount /var/run/netns/lan_guest
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /var/run/netns/lan_guest

# create veth pair
ExecStart=nsenter -t 1 -n -- ip link add lan_guest_veth0 type veth peer name lan_guest_veth1

# configure pid 1 ns veth
ExecStart=nsenter -t 1 -n -- ip addr add 10.69.1.0/31 dev lan_guest_veth0
ExecStart=nsenter -t 1 -n -- ip link set lan_guest_veth0 up

# configure lan_guest veth
ExecStart=nsenter -t 1 -n -- ip link set lan_guest_veth1 netns lan_guest
ExecStart=ip addr add 10.69.1.1/31 dev lan_guest_veth1
ExecStart=ip link set lan_guest_veth1 up

# set lan_guest default route
ExecStart=ip route add default via 10.69.1.0 dev lan_guest_veth1

# move guest to lan_guest ns
ExecStart=nsenter -t 1 -n -- ip link set guest netns lan_guest
ExecStart=ip addr add 10.13.36.1/24 dev guest
ExecStart=ip link set guest up

# move guest back to pid 1 ns and remove lan_guest ns 
ExecStop=ip link set guest netns 1
ExecStop=ip netns delete lan_guest
