[Unit]
Description=CAKE SQM instance for %i

[Service]
Type=oneshot

ExecStart = /mss/bin/setcake.py start --iface %i --ifb %i-ingress --down 84 --up 19
ExecStop = /mss/bin/setcake.py stop --iface %i --ifb %i-ingress

[Install]
WantedBy=multi-user.target
